
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}


<div class="col-md grid-margin stretch-card">
<div class="card">
    <div class="card-body">
    <h4 class="card-title">Şifre Değiştirme</h4>
    <div class="form-group">
        <label>Mevcut Şifreniz</label>
        <input type="text" class="form-control" placeholder="Mevcut şifre" name="password" id="password">
    </div>
    <div class="form-group">
        <label>Yeni Şifre</label>
        <input type="text" class="form-control" placeholder="Yeni Şifre" name="newpassword" id="newpassword">
    </div>
    <div class="form-group">
        <label>Yeni Şifre Tekrar</label>
        <input type="text" class="form-control" placeholder="Yeni Şifre Tekrar" name="newpassword2" id="newpassword2">
    </div>
    <button class="btn btn-success" id="savebtn">Kaydet</button>
    </div>
</div>
</div>
@section Scripts{
    <script>
        $('#savebtn').click(function(){
            var pw = document.getElementById('password').value
            var newpw = document.getElementById('newpassword').value
            var newpw2 = document.getElementById('newpassword2').value
            if(pw.length == 0 || newpw.length == 0 || newpw2.length == 0) return toastr["error"]("Alanlar boş geçilemez.","Hata");
            if(newpw != newpw2) return toastr["error"]("Girdiğiniz şifreler uyuşmamaktadır.","Hata");
            var datas = {
                Password : pw,
                NewPassword : newpw
            };
            $.ajax({
                data: datas,
                type: "Post",
                url:"/Profile/ChangePassword",

                success:function(args){
                    var results = jQuery.parseJSON(args);
                    if(results["result"] == false) return toastr["error"]("Şifreniz doğru değil lütfen tekrar deneyin","Hata");
                    toastr["success"]("Parolanız başarı ile değiştirilmiştir.","Şifre Yenileme");
                    setTimeout(()=>{
                        window.location = "/Dashboard/"
                    },1500)
                }
            })
        })
    </script>
}
<script src="~/lib/jquery/dist/jquery.js"></script>