
@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/login-form/fonts/icomoon/style.css">
    <link rel="shortcut icon" href="/assets/images/hizli_analiz_favicon-01.png" type="image/png">
    <link rel="stylesheet" href="/login-form/css/owl.carousel.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/login-form/css/bootstrap.min.css">

    <!-- Style -->
    <link rel="stylesheet" href="/login-form/css/style.css">

    <title>Hızlı Analiz</title>
</head>
<body>



    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="/login-form/images/undraw_remotely_2j6y.svg" alt="Image" class="img-fluid">
                </div>
                <div class="col-md-6 contents">
                    <div class="row justify-content-center">
                        <div class="col-md-8">
                            <div class="mb-4">
                                <h3>Giriş Yap</h3>
                                <p class="mb-4">Hızlı analiz, hızlı büyüme.</p>
                            </div>
                                <div class="form-group first">
                                    <label for="username">E-mail</label>
                                    <input type="text" class="form-control" id="username" name="UserMail">

                                </div>
                                <div class="form-group last mb-4">
                                    <label for="password">Şifre</label>
                                    <input type="password" class="form-control" id="password" name="UserPassword">

                                </div>

                                <div class="d-flex mb-5 align-items-center">
                                    <label>
                                        Hesabın Yok Mu?<br />
                                        <a href="/Register/Index" class="btn-default">Kayıt ol</a>
                                    </label>
                                        <span class="ml-auto"><a href="#" class="forgot-pass">Şifremi Unuttum</a></span>
                                    
                                </div>

                                <button class="btn btn-block btn-primary" id="loginbtn">Giriş Yap</button>
                                <span class="d-block text-left my-4 text-muted">&mdash; giriş yap &mdash;</span>

                                <div class="social-login">
                                    <a href="#" class="facebook">
                                        <span class="icon-facebook mr-3"></span>
                                    </a>
                                    <a href="#" class="twitter">
                                        <span class="icon-twitter mr-3"></span>
                                    </a>
                                    <a href="#" class="google">
                                        <span class="icon-google mr-3"></span>
                                    </a>
                                </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <script src="/login-form/js/jquery-3.3.1.min.js"></script>
    <script src="/login-form/js/popper.min.js"></script>
    <script src="/login-form/js/bootstrap.min.js"></script>
    <script src="/login-form/js/main.js"></script>
    
</body>
</html>

<script>
    $('#loginbtn').click(function(){
        var pw = document.getElementById('password').value
        var usermail = document.getElementById('username').value
        if(usermail.length == 0 || pw.length == 0) return toastr["error"]("Alanlar boş geçilemez.","Hata")
        let value = {
            UserMail : usermail,
            UserPassword: pw
        };
        $.ajax({
            type:"post",
            url:"/Login/LogIN/",
            data: value,

            success:function(args){
                var arg = jQuery.parseJSON(args);
                if(arg["result"]==false) return toastr["error"]("Hatalı kullanıcı adı veya parola.","Hata")
                toastr["success"]("Giriş başarılı yönlendiriliyorsunuz.","Giriş Yap")
                setTimeout(()=>{
                    window.location = "/Dashboard/"
                },2000)
            }
        })
    })
</script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet"/>  
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>